<p id="notice"><%= notice %></p>

<p class="show-p">
  <strong class="show-title">Title:</strong>
  <%= @product.title %>
</p>

<p class="show-p">
  <%= @product.description %>
</p>

<p class="show-p show-image">
  <%= image_tag @product.image, style: "width: 200px; display: block" %>
</p>

<p class="show-p">
  <strong class="show-price">Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
