<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyOnlineStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-wrapper">
      <%= render partial: 'shared/header' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer-wrapper">
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
